# All necessary imports

In [1]:
import sys
sys.path.append('..')

In [5]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

In [84]:
from sklearn.ensemble import VotingClassifier

In [85]:
import lightgbm as lgb

In [86]:
import xgboost as xgb

In [71]:
from imblearn.under_sampling import RandomUnderSampler

In [6]:
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 30000)
pd.set_option('display.max_columns', 30000)

In [7]:
data_path = '../data/dataset/transformed/{}.csv'
profiling_path = '../data/dataset/processed/data_profiling/{}.html'
meta_path = '../data/dataset/processed/meta-info/{}.pkl'

In [8]:
QUERY_PATTERN = 'n_missing <= 0 & type == \'{}\''

# Choose random_state

In [73]:
random_state = 42

# Data reading

Firstly we just load all data into memory, then profile each dataset,

then try to filter features that are most interesting for us at the moment

(continuous, categorical, binary features without na, features with low na percentage etc.).

In [9]:
dataset_names = ['application_train', 'application_test', 'bureau', 'bureau_balance', 'credit_card_balance', 'installments_payments', 'POS_CASH_balance', 'previous_application', 'sample_submission']

In [10]:
data_dict = dict(zip(dataset_names, list(map(lambda name: pd.read_csv(filepath_or_buffer=data_path.format(name)), tqdm(dataset_names)))))

100%|██████████| 9/9 [01:25<00:00,  9.46s/it]

In [11]:
columns_description = pd.read_csv(filepath_or_buffer='../data/dataset/original/HomeCredit_columns_description.csv', encoding='ISO-8859-1', index_col=0)

# Data examples

In [12]:
name_number = 0

In [13]:
data_dict[dataset_names[name_number]].head().T # application_train

,0,1,2,3,4
CODE_GENDER,0.000000,1.000000e+00,0.000000,1.000000,0.000000
FLAG_CONT_MOBILE,1.000000,1.000000e+00,1.000000,1.000000,1.000000
FLAG_DOCUMENT_10,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_11,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_12,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_13,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_14,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_15,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_16,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_17,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_18,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_19,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_20,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_21,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_3,1.000000,1.000000e+00,0.000000,1.000000,0.000000
FLAG_DOCUMENT_4,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_5,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_6,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_7,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_DOCUMENT_8,0.000000,0.000000e+00,0.000000,0.000000,1.000000
FLAG_DOCUMENT_9,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_EMAIL,0.000000,0.000000e+00,0.000000,0.000000,0.000000
FLAG_EMP_PHONE,1.000000,1.000000e+00,1.000000,1.000000,1.000000
FLAG_MOBIL,1.000000,1.000000e+00,1.000000,1.000000,1.000000
FLAG_OWN_CAR,0.000000,0.000000e+00,1.000000,0.000000,0.000000
FLAG_OWN_REALTY,1.000000,0.000000e+00,1.000000,1.000000,1.000000
FLAG_PHONE,1.000000,1.000000e+00,1.000000,0.000000,0.000000
FLAG_WORK_PHONE,0.000000,0.000000e+00,1.000000,0.000000,0.000000
LIVE_CITY_NOT_WORK_CITY,0.000000,0.000000e+00,0.000000,0.000000,1.000000
LIVE_REGION_NOT_WORK_REGION,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_CONTRACT_TYPE,1.000000,1.000000e+00,0.000000,1.000000,1.000000
REG_CITY_NOT_LIVE_CITY,0.000000,0.000000e+00,0.000000,0.000000,0.000000
REG_CITY_NOT_WORK_CITY,0.000000,0.000000e+00,0.000000,0.000000,1.000000
REG_REGION_NOT_LIVE_REGION,0.000000,0.000000e+00,0.000000,0.000000,0.000000
REG_REGION_NOT_WORK_REGION,0.000000,0.000000e+00,0.000000,0.000000,0.000000
TARGET,1.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_0,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_1,0.000000,1.000000e+00,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_3,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_4,1.000000,0.000000e+00,1.000000,1.000000,1.000000
NAME_FAMILY_STATUS_0,0.000000,0.000000e+00,0.000000,1.000000,0.000000
NAME_FAMILY_STATUS_1,0.000000,1.000000e+00,0.000000,0.000000,0.000000
NAME_FAMILY_STATUS_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_FAMILY_STATUS_3,1.000000,0.000000e+00,1.000000,0.000000,1.000000
NAME_FAMILY_STATUS_4,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_FAMILY_STATUS_5,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_0,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_1,1.000000,1.000000e+00,1.000000,1.000000,1.000000
NAME_HOUSING_TYPE_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_3,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_4,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_5,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_0,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_1,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_3,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_4,0.000000,1.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_5,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_6,0.000000,0.000000e+00,0.000000,0.000000,0.000000
NAME_INCOME_TYPE_7,1.000000,0.000000e+00,1.000000,1.000000,1.000000
ORGANIZATION_TYPE_0,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_1,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_3,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_4,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_5,1.000000,0.000000e+00,0.000000,1.000000,0.000000
ORGANIZATION_TYPE_6,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_7,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_8,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_9,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_10,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_11,0.000000,0.000000e+00,1.000000,0.000000,0.000000
ORGANIZATION_TYPE_12,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_13,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_14,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_15,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_16,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_17,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_18,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_19,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_20,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_21,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_22,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_23,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_24,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_25,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_26,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_27,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_28,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_29,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_30,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_31,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_32,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_33,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_34,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_35,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_36,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_37,0.000000,0.000000e+00,0.000000,0.000000,1.000000
ORGANIZATION_TYPE_38,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_39,0.000000,1.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_40,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_41,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_42,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_43,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_44,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_45,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_46,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_47,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_48,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_49,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_50,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_51,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_52,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_53,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_54,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_55,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_56,0.000000,0.000000e+00,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_57,0.000000,0.000000e+00,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_0,0.000000,0.000000e+00,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_1,0.000000,1.000000e+00,1.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_2,0.000000,0.000000e+00,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_3,0.000000,0.000000e+00,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_4,0.000000,0.000000e+00,0.000000,0.000000,1.000000
WEEKDAY_APPR_PROCESS_START_5,0.000000,0.000000e+00,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_6,1.000000,0.000000e+00,0.000000,1.000000,0.000000
AMT_CREDIT,406597.500000,1.293502e+06,135000.000000,312682.500000,513000.000000
AMT_INCOME_TOTAL,202500.000000,2.700000e+05,67500.000000,135000.000000,121500.000000
CNT_CHILDREN,0.000000,0.000000e+00,0.000000,0.000000,0.000000
DAYS_BIRTH,-9461.000000,-1.676500e+04,-19046.000000,-19005.000000,-19932.000000
DAYS_EMPLOYED,-637.000000,-1.188000e+03,-225.000000,-3039.000000,-3038.000000
DAYS_ID_PUBLISH,-2120.000000,-2.910000e+02,-2531.000000,-2437.000000,-3458.000000
DAYS_REGISTRATION,-3648.000000,-1.186000e+03,-4260.000000,-9833.000000,-4311.000000
HOUR_APPR_PROCESS_START,10.000000,1.100000e+01,9.000000,17.000000,11.000000
REGION_POPULATION_RELATIVE,0.018801,3.541000e-03,0.010032,0.008019,0.028663
REGION_RATING_CLIENT,2.000000,1.000000e+00,2.000000,2.000000,2.000000
SK_ID_CURR,100002.000000,1.000030e+05,100004.000000,100006.000000,100007.000000

In [14]:
name_number = 1

In [15]:
data_dict[dataset_names[name_number]].head().T # application_test

,0,1,2,3,4
CODE_GENDER,1.00000,0.000000,0.000000,1.000000e+00,0.000000
FLAG_CONT_MOBILE,1.00000,1.000000,1.000000,1.000000e+00,1.000000
FLAG_DOCUMENT_11,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_18,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_3,1.00000,1.000000,0.000000,1.000000e+00,1.000000
FLAG_DOCUMENT_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_5,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_6,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_7,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_8,0.00000,0.000000,1.000000,0.000000e+00,0.000000
FLAG_DOCUMENT_9,0.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_EMAIL,1.00000,0.000000,0.000000,0.000000e+00,0.000000
FLAG_EMP_PHONE,1.00000,1.000000,1.000000,1.000000e+00,1.000000
FLAG_MOBIL,1.00000,1.000000,1.000000,1.000000e+00,1.000000
FLAG_OWN_CAR,0.00000,0.000000,1.000000,0.000000e+00,1.000000
FLAG_OWN_REALTY,1.00000,1.000000,1.000000,1.000000e+00,0.000000
FLAG_PHONE,0.00000,0.000000,0.000000,1.000000e+00,0.000000
FLAG_WORK_PHONE,0.00000,0.000000,0.000000,0.000000e+00,1.000000
LIVE_CITY_NOT_WORK_CITY,0.00000,0.000000,0.000000,0.000000e+00,1.000000
LIVE_REGION_NOT_WORK_REGION,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_CONTRACT_TYPE,1.00000,1.000000,1.000000,1.000000e+00,1.000000
REG_CITY_NOT_LIVE_CITY,0.00000,0.000000,0.000000,0.000000e+00,0.000000
REG_CITY_NOT_WORK_CITY,0.00000,0.000000,0.000000,0.000000e+00,1.000000
REG_REGION_NOT_LIVE_REGION,0.00000,0.000000,0.000000,0.000000e+00,0.000000
REG_REGION_NOT_WORK_REGION,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_EDUCATION_TYPE_0,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_EDUCATION_TYPE_1,1.00000,0.000000,1.000000,0.000000e+00,0.000000
NAME_EDUCATION_TYPE_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_EDUCATION_TYPE_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_EDUCATION_TYPE_4,0.00000,1.000000,0.000000,1.000000e+00,1.000000
NAME_FAMILY_STATUS_0,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_FAMILY_STATUS_1,1.00000,1.000000,1.000000,1.000000e+00,1.000000
NAME_FAMILY_STATUS_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_FAMILY_STATUS_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_FAMILY_STATUS_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_HOUSING_TYPE_0,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_HOUSING_TYPE_1,1.00000,1.000000,1.000000,1.000000e+00,1.000000
NAME_HOUSING_TYPE_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_HOUSING_TYPE_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_HOUSING_TYPE_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_HOUSING_TYPE_5,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_0,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_1,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_5,0.00000,0.000000,0.000000,0.000000e+00,0.000000
NAME_INCOME_TYPE_6,1.00000,1.000000,1.000000,1.000000e+00,1.000000
ORGANIZATION_TYPE_0,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_1,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_5,0.00000,0.000000,0.000000,1.000000e+00,1.000000
ORGANIZATION_TYPE_6,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_7,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_8,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_9,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_10,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_11,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_12,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_13,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_14,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_15,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_16,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_17,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_18,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_19,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_20,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_21,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_22,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_23,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_24,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_25,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_26,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_27,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_28,1.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_29,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_30,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_31,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_32,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_33,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_34,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_35,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_36,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_37,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_38,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_39,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_40,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_41,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_42,0.00000,1.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_43,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_44,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_45,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_46,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_47,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_48,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_49,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_50,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_51,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_52,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_53,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_54,0.00000,0.000000,1.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_55,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_56,0.00000,0.000000,0.000000,0.000000e+00,0.000000
ORGANIZATION_TYPE_57,0.00000,0.000000,0.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_0,0.00000,1.000000,0.000000,0.000000e+00,1.000000
WEEKDAY_APPR_PROCESS_START_1,0.00000,0.000000,1.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_2,0.00000,0.000000,0.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_3,0.00000,0.000000,0.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_4,0.00000,0.000000,0.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_5,1.00000,0.000000,0.000000,0.000000e+00,0.000000
WEEKDAY_APPR_PROCESS_START_6,0.00000,0.000000,0.000000,1.000000e+00,0.000000
AMT_CREDIT,568800.00000,222768.000000,663264.000000,1.575000e+06,625500.000000
AMT_INCOME_TOTAL,135000.00000,99000.000000,202500.000000,3.150000e+05,180000.000000
CNT_CHILDREN,0.00000,0.000000,0.000000,2.000000e+00,1.000000
CNT_FAM_MEMBERS,2.00000,2.000000,2.000000,4.000000e+00,3.000000
DAYS_BIRTH,-19241.00000,-18064.000000,-20038.000000,-1.397600e+04,-13040.000000
DAYS_EMPLOYED,-2329.00000,-4469.000000,-4458.000000,-1.866000e+03,-2191.000000
DAYS_ID_PUBLISH,-812.00000,-1623.000000,-3503.000000,-4.208000e+03,-4262.000000
DAYS_LAST_PHONE_CHANGE,-1740.00000,0.000000,-856.000000,-1.805000e+03,-821.000000
DAYS_REGISTRATION,-5170.00000,-9118.000000,-2175.000000,-2.000000e+03,-4000.000000
HOUR_APPR_PROCESS_START,18.00000,9.000000,14.000000,1.100000e+01,5.000000
REGION_POPULATION_RELATIVE,0.01885,0.035792,0.019101,2.639200e-02,0.010032
REGION_RATING_CLIENT,2.00000,2.000000,2.000000,2.000000e+00,2.000000
SK_ID_CURR,100001.00000,100005.000000,100013.000000,1.000280e+05,100038.000000

In [16]:
name_number = 2

In [17]:
data_dict[dataset_names[name_number]].head().T # bureau

                                0          1          2          3          4
CREDIT_ACTIVE_0         0.0        1.0        1.0        1.0        1.0
CREDIT_ACTIVE_1         0.0        0.0        0.0        0.0        0.0
CREDIT_ACTIVE_2         1.0        0.0        0.0        0.0        0.0
CREDIT_ACTIVE_3         0.0        0.0        0.0        0.0        0.0
CREDIT_CURRENCY_0       1.0        1.0        1.0        1.0        1.0
CREDIT_CURRENCY_1       0.0        0.0        0.0        0.0        0.0
CREDIT_CURRENCY_2       0.0        0.0        0.0        0.0        0.0
CREDIT_CURRENCY_3       0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_0           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_1           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_2           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_3           1.0        0.0        1.0        0.0        1.0
CREDIT_TYPE_4           0.0        1.0        0.0        1.0        0.0
CREDIT_TYPE_5           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_6           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_7           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_8           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_9           0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_10          0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_11          0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_12          0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_13          0.0        0.0        0.0        0.0        0.0
CREDIT_TYPE_14          0.0        0.0        0.0        0.0        0.0
AMT_CREDIT_SUM_OVERDUE  0.0        0.0        0.0        0.0        0.0
CNT_CREDIT_PROLONG      0.0        0.0        0.0        0.0        0.0
CREDIT_DAY_OVERDUE      0.0        0.0        0.0        0.0        0.0
DAYS_CREDIT            -497.0     -208.0     -203.0     -203.0     -629.0
DAYS_CREDIT_UPDATE     -131.0     -20.0      -16.0      -16.0      -21.0
SK_ID_BUREAU            5714462.0  5714463.0  5714464.0  5714465.0  5714466.0
SK_ID_CURR              215354.0   215354.0   215354.0   215354.0   215354.0

In [18]:
name_number = 3

In [19]:
data_dict[dataset_names[name_number]].head().T # bureau_balance

                        0          1          2          3          4
STATUS_0        0.0        0.0        0.0        0.0        0.0
STATUS_1        0.0        0.0        0.0        0.0        0.0
STATUS_2        0.0        0.0        0.0        0.0        0.0
STATUS_3        0.0        0.0        0.0        0.0        0.0
STATUS_4        0.0        0.0        0.0        0.0        0.0
STATUS_5        0.0        0.0        0.0        0.0        0.0
STATUS_6        1.0        1.0        1.0        1.0        1.0
STATUS_7        0.0        0.0        0.0        0.0        0.0
MONTHS_BALANCE  0.0       -1.0       -2.0       -3.0       -4.0
SK_ID_BUREAU    5715448.0  5715448.0  5715448.0  5715448.0  5715448.0

In [20]:
name_number = 4

In [21]:
data_dict[dataset_names[name_number]].head().T # credit_card_balance

,0,1,2,3,4
NAME_CONTRACT_STATUS_0,1.00,1.000,1.000,1.00,1.000
NAME_CONTRACT_STATUS_1,0.00,0.000,0.000,0.00,0.000
NAME_CONTRACT_STATUS_2,0.00,0.000,0.000,0.00,0.000
NAME_CONTRACT_STATUS_3,0.00,0.000,0.000,0.00,0.000
NAME_CONTRACT_STATUS_4,0.00,0.000,0.000,0.00,0.000
NAME_CONTRACT_STATUS_5,0.00,0.000,0.000,0.00,0.000
NAME_CONTRACT_STATUS_6,0.00,0.000,0.000,0.00,0.000
AMT_BALANCE,56.97,63975.555,31815.225,236572.11,453919.455
AMT_CREDIT_LIMIT_ACTUAL,135000.00,45000.000,450000.000,225000.00,450000.000
AMT_DRAWINGS_CURRENT,877.50,2250.000,0.000,2250.00,11547.000
CNT_DRAWINGS_CURRENT,1.00,1.000,0.000,1.00,1.000
MONTHS_BALANCE,-6.00,-1.000,-7.000,-4.00,-1.000
SK_DPD,0.00,0.000,0.000,0.00,0.000
SK_DPD_DEF,0.00,0.000,0.000,0.00,0.000
SK_ID_CURR,378907.00,363914.000,371185.000,337855.00,126868.000
SK_ID_PREV,2562384.00,2582071.000,1740877.000,1389973.00,1891521.000

In [22]:
name_number = 5

In [23]:
data_dict[dataset_names[name_number]].head().T # installments_payments

,0,1,2,3,4
AMT_INSTALMENT,6948.36,1716.525,25425.0,24350.13,2165.04
DAYS_INSTALMENT,-1180.00,-2156.000,-63.0,-2418.00,-1383.00
NUM_INSTALMENT_NUMBER,6.00,34.000,1.0,3.00,2.00
NUM_INSTALMENT_VERSION,1.00,0.000,2.0,1.00,1.00
SK_ID_CURR,161674.00,151639.000,193053.0,199697.00,167756.00
SK_ID_PREV,1054186.00,1330831.000,2085231.0,2452527.00,2714724.00

In [24]:
name_number = 6

In [25]:
data_dict[dataset_names[name_number]].head().T # POS_CASH_balance

                                0          1          2          3          4
NAME_CONTRACT_STATUS_0  1.0        1.0        1.0        1.0        1.0
NAME_CONTRACT_STATUS_1  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_2  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_3  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_4  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_5  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_6  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_7  0.0        0.0        0.0        0.0        0.0
NAME_CONTRACT_STATUS_8  0.0        0.0        0.0        0.0        0.0
MONTHS_BALANCE         -31.0      -33.0      -32.0      -35.0      -35.0
SK_DPD                  0.0        0.0        0.0        0.0        0.0
SK_DPD_DEF              0.0        0.0        0.0        0.0        0.0
SK_ID_CURR              182943.0   367990.0   397406.0   269225.0   334279.0
SK_ID_PREV              1803195.0  1715348.0  1784872.0  1903291.0  2341044.0

In [26]:
name_number = 7

In [27]:
data_dict[dataset_names[name_number]].head().T # previous_application

,0,1,2,3,4
FLAG_LAST_APPL_PER_CONTRACT,1.0,1.0,1.0,1.0,1.0
NFLAG_LAST_APPL_IN_DAY,1.0,1.0,1.0,1.0,1.0
CHANNEL_TYPE_0,0.0,0.0,0.0,0.0,0.0
CHANNEL_TYPE_1,0.0,0.0,0.0,0.0,0.0
CHANNEL_TYPE_2,0.0,0.0,0.0,0.0,0.0
CHANNEL_TYPE_3,0.0,1.0,0.0,0.0,0.0
CHANNEL_TYPE_4,1.0,0.0,0.0,0.0,0.0
CHANNEL_TYPE_5,0.0,0.0,1.0,1.0,1.0
CHANNEL_TYPE_6,0.0,0.0,0.0,0.0,0.0
CHANNEL_TYPE_7,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_0,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_1,0.0,0.0,0.0,0.0,1.0
CODE_REJECT_REASON_2,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_3,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_4,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_5,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_6,0.0,0.0,0.0,0.0,0.0
CODE_REJECT_REASON_7,1.0,1.0,1.0,1.0,0.0
CODE_REJECT_REASON_8,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_0,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_1,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_2,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_3,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_4,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_5,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_6,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_7,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_8,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_9,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_10,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_11,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_12,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_13,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_14,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_15,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_16,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_17,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_18,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_19,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_20,0.0,0.0,0.0,0.0,1.0
NAME_CASH_LOAN_PURPOSE_21,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_22,0.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_23,1.0,0.0,0.0,0.0,0.0
NAME_CASH_LOAN_PURPOSE_24,0.0,1.0,1.0,1.0,0.0
NAME_CLIENT_TYPE_0,0.0,0.0,0.0,0.0,0.0
NAME_CLIENT_TYPE_1,0.0,0.0,0.0,0.0,0.0
NAME_CLIENT_TYPE_2,1.0,1.0,1.0,1.0,1.0
NAME_CLIENT_TYPE_3,0.0,0.0,0.0,0.0,0.0
NAME_CONTRACT_STATUS_0,1.0,1.0,1.0,1.0,0.0
NAME_CONTRACT_STATUS_1,0.0,0.0,0.0,0.0,0.0
NAME_CONTRACT_STATUS_2,0.0,0.0,0.0,0.0,1.0
NAME_CONTRACT_STATUS_3,0.0,0.0,0.0,0.0,0.0
NAME_CONTRACT_TYPE_0,0.0,1.0,1.0,1.0,1.0
NAME_CONTRACT_TYPE_1,1.0,0.0,0.0,0.0,0.0
NAME_CONTRACT_TYPE_2,0.0,0.0,0.0,0.0,0.0
NAME_CONTRACT_TYPE_3,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_0,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_1,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_2,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_3,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_4,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_5,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_6,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_7,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_8,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_9,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_10,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_11,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_12,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_13,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_14,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_15,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_16,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_17,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_18,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_19,1.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_20,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_21,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_22,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_23,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_24,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_25,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_26,0.0,0.0,0.0,0.0,0.0
NAME_GOODS_CATEGORY_27,0.0,1.0,1.0,1.0,1.0
NAME_PAYMENT_TYPE_0,1.0,0.0,1.0,1.0,1.0
NAME_PAYMENT_TYPE_1,0.0,0.0,0.0,0.0,0.0
NAME_PAYMENT_TYPE_2,0.0,0.0,0.0,0.0,0.0
NAME_PAYMENT_TYPE_3,0.0,1.0,0.0,0.0,0.0
NAME_PORTFOLIO_0,0.0,0.0,0.0,0.0,0.0
NAME_PORTFOLIO_1,0.0,0.0,0.0,0.0,0.0
NAME_PORTFOLIO_2,0.0,1.0,1.0,1.0,1.0
NAME_PORTFOLIO_3,1.0,0.0,0.0,0.0,0.0
NAME_PORTFOLIO_4,0.0,0.0,0.0,0.0,0.0
NAME_PRODUCT_TYPE_0,1.0,0.0,0.0,0.0,0.0
NAME_PRODUCT_TYPE_1,0.0,0.0,0.0,0.0,1.0
NAME_PRODUCT_TYPE_2,0.0,1.0,1.0,1.0,0.0
NAME_SELLER_INDUSTRY_0,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_1,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_2,1.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_3,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_4,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_5,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_6,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_7,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_8,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_9,0.0,0.0,0.0,0.0,0.0
NAME_SELLER_INDUSTRY_10,0.0,1.0,1.0,1.0,1.0
NAME_YIELD_GROUP_0,0.0,0.0,0.0,0.0,0.0
NAME_YIELD_GROUP_1,0.0,0.0,1.0,0.0,1.0
NAME_YIELD_GROUP_2,0.0,1.0,0.0,0.0,0.0
NAME_YIELD_GROUP_3,0.0,0.0,0.0,0.0,0.0
NAME_YIELD_GROUP_4,1.0,0.0,0.0,1.0,0.0
WEEKDAY_APPR_PROCESS_START_0,0.0,0.0,0.0,0.0,0.0
WEEKDAY_APPR_PROCESS_START_1,0.0,0.0,0.0,1.0,0.0
WEEKDAY_APPR_PROCESS_START_2,1.0,0.0,0.0,0.0,0.0
WEEKDAY_APPR_PROCESS_START_3,0.0,0.0,0.0,0.0,0.0
WEEKDAY_APPR_PROCESS_START_4,0.0,1.0,0.0,0.0,1.0
WEEKDAY_APPR_PROCESS_START_5,0.0,0.0,1.0,0.0,0.0
WEEKDAY_APPR_PROCESS_START_6,0.0,0.0,0.0,0.0,0.0
AMT_APPLICATION,17145.0,607500.0,112500.0,450000.0,337500.0
DAYS_DECISION,-73.0,-164.0,-301.0,-512.0,-781.0
HOUR_APPR_PROCESS_START,15.0,11.0,11.0,7.0,9.0
SELLERPLACE_AREA,35.0,-1.0,-1.0,-1.0,-1.0
SK_ID_CURR,271877.0,108129.0,122040.0,176158.0,202054.0
SK_ID_PREV,2030495.0,2802425.0,2523466.0,2819243.0,1784265.0

In [28]:
name_number = 8

In [29]:
data_dict[dataset_names[name_number]].head().T # sample_submission

                   0         1         2         3         4
SK_ID_CURR  100001.0  100005.0  100013.0  100028.0  100038.0

# Info

In [30]:
name_number = 0

In [31]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # application_train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307507 entries, 0 to 307506
Data columns (total 138 columns):
CODE_GENDER                     307507 non-null float64
FLAG_CONT_MOBILE                307507 non-null float64
FLAG_DOCUMENT_10                307507 non-null float64
FLAG_DOCUMENT_11                307507 non-null float64
FLAG_DOCUMENT_12                307507 non-null float64
FLAG_DOCUMENT_13                307507 non-null float64
FLAG_DOCUMENT_14                307507 non-null float64
FLAG_DOCUMENT_15                307507 non-null float64
FLAG_DOCUMENT_16                307507 non-null float64
FLAG_DOCUMENT_17                307507 non-null float64
FLAG_DOCUMENT_18                307507 non-null float64
FLAG_DOCUMENT_19                307507 non-null float64
FLAG_DOCUMENT_2                 307507 non-null float64
FLAG_DOCUMENT_20                307507 non-null float64
FLAG_DOCUMENT_21                307507 non-null float64
FLAG_DOCUMENT_3                 307507 non-null float64
FLAG_DOCUMENT_4                 307507 non-null float64
FLAG_DOCUMENT_5                 307507 non-null float64
FLAG_DOCUMENT_6                 307507 non-null float64
FLAG_DOCUMENT_7                 307507 non-null float64
FLAG_DOCUMENT_8                 307507 non-null float64
FLAG_DOCUMENT_9                 307507 non-null float64
FLAG_EMAIL                      307507 non-null float64
FLAG_EMP_PHONE                  307507 non-null float64
FLAG_MOBIL                      307507 non-null float64
FLAG_OWN_CAR                    307507 non-null float64
FLAG_OWN_REALTY                 307507 non-null float64
FLAG_PHONE                      307507 non-null float64
FLAG_WORK_PHONE                 307507 non-null float64
LIVE_CITY_NOT_WORK_CITY         307507 non-null float64
LIVE_REGION_NOT_WORK_REGION     307507 non-null float64
NAME_CONTRACT_TYPE              307507 non-null float64
REG_CITY_NOT_LIVE_CITY          307507 non-null float64
REG_CITY_NOT_WORK_CITY          307507 non-null float64
REG_REGION_NOT_LIVE_REGION      307507 non-null float64
REG_REGION_NOT_WORK_REGION      307507 non-null float64
TARGET                          307507 non-null float64
NAME_EDUCATION_TYPE_0           307507 non-null float64
NAME_EDUCATION_TYPE_1           307507 non-null float64
NAME_EDUCATION_TYPE_2           307507 non-null float64
NAME_EDUCATION_TYPE_3           307507 non-null float64
NAME_EDUCATION_TYPE_4           307507 non-null float64
NAME_FAMILY_STATUS_0            307507 non-null float64
NAME_FAMILY_STATUS_1            307507 non-null float64
NAME_FAMILY_STATUS_2            307507 non-null float64
NAME_FAMILY_STATUS_3            307507 non-null float64
NAME_FAMILY_STATUS_4            307507 non-null float64
NAME_FAMILY_STATUS_5            307507 non-null float64
NAME_HOUSING_TYPE_0             307507 non-null float64
NAME_HOUSING_TYPE_1             307507 non-null float64
NAME_HOUSING_TYPE_2             307507 non-null float64
NAME_HOUSING_TYPE_3             307507 non-null float64
NAME_HOUSING_TYPE_4             307507 non-null float64
NAME_HOUSING_TYPE_5             307507 non-null float64
NAME_INCOME_TYPE_0              307507 non-null float64
NAME_INCOME_TYPE_1              307507 non-null float64
NAME_INCOME_TYPE_2              307507 non-null float64
NAME_INCOME_TYPE_3              307507 non-null float64
NAME_INCOME_TYPE_4              307507 non-null float64
NAME_INCOME_TYPE_5              307507 non-null float64
NAME_INCOME_TYPE_6              307507 non-null float64
NAME_INCOME_TYPE_7              307507 non-null float64
ORGANIZATION_TYPE_0             307507 non-null float64
ORGANIZATION_TYPE_1             307507 non-null float64
ORGANIZATION_TYPE_2             307507 non-null float64
ORGANIZATION_TYPE_3             307507 non-null float64
ORGANIZATION_TYPE_4             307507 non-null float64
ORGANIZATION_TYPE_5             307507 non-null float64
ORGANIZATION_TYPE_6             307507 non-null float64
ORGANIZATION_TYPE_7             307507 non-null float64
ORGANIZATION_TYPE_8             307507 non-null float64
ORGANIZATION_TYPE_9             307507 non-null float64
ORGANIZATION_TYPE_10            307507 non-null float64
ORGANIZATION_TYPE_11            307507 non-null float64
ORGANIZATION_TYPE_12            307507 non-null float64
ORGANIZATION_TYPE_13            307507 non-null float64
ORGANIZATION_TYPE_14            307507 non-null float64
ORGANIZATION_TYPE_15            307507 non-null float64
ORGANIZATION_TYPE_16            307507 non-null float64
ORGANIZATION_TYPE_17            307507 non-null float64
ORGANIZATION_TYPE_18            307507 non-null float64
ORGANIZATION_TYPE_19            307507 non-null float64
ORGANIZATION_TYPE_20            307507 non-null float64
ORGANIZATION_TYPE_21            307507 non-null float64
ORGANIZATION_TYPE_22            307507 non-null float64
ORGANIZATION_TYPE_23            307507 non-null float64
ORGANIZATION_TYPE_24            307507 non-null float64
ORGANIZATION_TYPE_25            307507 non-null float64
ORGANIZATION_TYPE_26            307507 non-null float64
ORGANIZATION_TYPE_27            307507 non-null float64
ORGANIZATION_TYPE_28            307507 non-null float64
ORGANIZATION_TYPE_29            307507 non-null float64
ORGANIZATION_TYPE_30            307507 non-null float64
ORGANIZATION_TYPE_31            307507 non-null float64
ORGANIZATION_TYPE_32            307507 non-null float64
ORGANIZATION_TYPE_33            307507 non-null float64
ORGANIZATION_TYPE_34            307507 non-null float64
ORGANIZATION_TYPE_35            307507 non-null float64
ORGANIZATION_TYPE_36            307507 non-null float64
ORGANIZATION_TYPE_37            307507 non-null float64
ORGANIZATION_TYPE_38            307507 non-null float64
ORGANIZATION_TYPE_39            307507 non-null float64
ORGANIZATION_TYPE_40            307507 non-null float64
ORGANIZATION_TYPE_41            307507 non-null float64
ORGANIZATION_TYPE_42            307507 non-null float64
ORGANIZATION_TYPE_43            307507 non-null float64
ORGANIZATION_TYPE_44            307507 non-null float64
ORGANIZATION_TYPE_45            307507 non-null float64
ORGANIZATION_TYPE_46            307507 non-null float64
ORGANIZATION_TYPE_47            307507 non-null float64
ORGANIZATION_TYPE_48            307507 non-null float64
ORGANIZATION_TYPE_49            307507 non-null float64
ORGANIZATION_TYPE_50            307507 non-null float64
ORGANIZATION_TYPE_51            307507 non-null float64
ORGANIZATION_TYPE_52            307507 non-null float64
ORGANIZATION_TYPE_53            307507 non-null float64
ORGANIZATION_TYPE_54            307507 non-null float64
ORGANIZATION_TYPE_55            307507 non-null float64
ORGANIZATION_TYPE_56            307507 non-null float64
ORGANIZATION_TYPE_57            307507 non-null float64
WEEKDAY_APPR_PROCESS_START_0    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_1    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_2    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_3    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_4    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_5    307507 non-null float64
WEEKDAY_APPR_PROCESS_START_6    307507 non-null float64
AMT_CREDIT                      307507 non-null float64
AMT_INCOME_TOTAL                307507 non-null float64
CNT_CHILDREN                    307507 non-null float64
DAYS_BIRTH                      307507 non-null float64
DAYS_EMPLOYED                   307507 non-null float64
DAYS_ID_PUBLISH                 307507 non-null float64
DAYS_REGISTRATION               307507 non-null float64
HOUR_APPR_PROCESS_START         307507 non-null float64
REGION_POPULATION_RELATIVE      307507 non-null float64
REGION_RATING_CLIENT            307507 non-null float64
SK_ID_CURR                      307507 non-null float64
dtypes: float64(138)
memory usage: 323.8 MB

In [32]:
name_number = 1

In [33]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # application_test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 126 columns):
CODE_GENDER                     48744 non-null float64
FLAG_CONT_MOBILE                48744 non-null float64
FLAG_DOCUMENT_11                48744 non-null float64
FLAG_DOCUMENT_18                48744 non-null float64
FLAG_DOCUMENT_3                 48744 non-null float64
FLAG_DOCUMENT_4                 48744 non-null float64
FLAG_DOCUMENT_5                 48744 non-null float64
FLAG_DOCUMENT_6                 48744 non-null float64
FLAG_DOCUMENT_7                 48744 non-null float64
FLAG_DOCUMENT_8                 48744 non-null float64
FLAG_DOCUMENT_9                 48744 non-null float64
FLAG_EMAIL                      48744 non-null float64
FLAG_EMP_PHONE                  48744 non-null float64
FLAG_MOBIL                      48744 non-null float64
FLAG_OWN_CAR                    48744 non-null float64
FLAG_OWN_REALTY                 48744 non-null float64
FLAG_PHONE                      48744 non-null float64
FLAG_WORK_PHONE                 48744 non-null float64
LIVE_CITY_NOT_WORK_CITY         48744 non-null float64
LIVE_REGION_NOT_WORK_REGION     48744 non-null float64
NAME_CONTRACT_TYPE              48744 non-null float64
REG_CITY_NOT_LIVE_CITY          48744 non-null float64
REG_CITY_NOT_WORK_CITY          48744 non-null float64
REG_REGION_NOT_LIVE_REGION      48744 non-null float64
REG_REGION_NOT_WORK_REGION      48744 non-null float64
NAME_EDUCATION_TYPE_0           48744 non-null float64
NAME_EDUCATION_TYPE_1           48744 non-null float64
NAME_EDUCATION_TYPE_2           48744 non-null float64
NAME_EDUCATION_TYPE_3           48744 non-null float64
NAME_EDUCATION_TYPE_4           48744 non-null float64
NAME_FAMILY_STATUS_0            48744 non-null float64
NAME_FAMILY_STATUS_1            48744 non-null float64
NAME_FAMILY_STATUS_2            48744 non-null float64
NAME_FAMILY_STATUS_3            48744 non-null float64
NAME_FAMILY_STATUS_4            48744 non-null float64
NAME_HOUSING_TYPE_0             48744 non-null float64
NAME_HOUSING_TYPE_1             48744 non-null float64
NAME_HOUSING_TYPE_2             48744 non-null float64
NAME_HOUSING_TYPE_3             48744 non-null float64
NAME_HOUSING_TYPE_4             48744 non-null float64
NAME_HOUSING_TYPE_5             48744 non-null float64
NAME_INCOME_TYPE_0              48744 non-null float64
NAME_INCOME_TYPE_1              48744 non-null float64
NAME_INCOME_TYPE_2              48744 non-null float64
NAME_INCOME_TYPE_3              48744 non-null float64
NAME_INCOME_TYPE_4              48744 non-null float64
NAME_INCOME_TYPE_5              48744 non-null float64
NAME_INCOME_TYPE_6              48744 non-null float64
ORGANIZATION_TYPE_0             48744 non-null float64
ORGANIZATION_TYPE_1             48744 non-null float64
ORGANIZATION_TYPE_2             48744 non-null float64
ORGANIZATION_TYPE_3             48744 non-null float64
ORGANIZATION_TYPE_4             48744 non-null float64
ORGANIZATION_TYPE_5             48744 non-null float64
ORGANIZATION_TYPE_6             48744 non-null float64
ORGANIZATION_TYPE_7             48744 non-null float64
ORGANIZATION_TYPE_8             48744 non-null float64
ORGANIZATION_TYPE_9             48744 non-null float64
ORGANIZATION_TYPE_10            48744 non-null float64
ORGANIZATION_TYPE_11            48744 non-null float64
ORGANIZATION_TYPE_12            48744 non-null float64
ORGANIZATION_TYPE_13            48744 non-null float64
ORGANIZATION_TYPE_14            48744 non-null float64
ORGANIZATION_TYPE_15            48744 non-null float64
ORGANIZATION_TYPE_16            48744 non-null float64
ORGANIZATION_TYPE_17            48744 non-null float64
ORGANIZATION_TYPE_18            48744 non-null float64
ORGANIZATION_TYPE_19            48744 non-null float64
ORGANIZATION_TYPE_20            48744 non-null float64
ORGANIZATION_TYPE_21            48744 non-null float64
ORGANIZATION_TYPE_22            48744 non-null float64
ORGANIZATION_TYPE_23            48744 non-null float64
ORGANIZATION_TYPE_24            48744 non-null float64
ORGANIZATION_TYPE_25            48744 non-null float64
ORGANIZATION_TYPE_26            48744 non-null float64
ORGANIZATION_TYPE_27            48744 non-null float64
ORGANIZATION_TYPE_28            48744 non-null float64
ORGANIZATION_TYPE_29            48744 non-null float64
ORGANIZATION_TYPE_30            48744 non-null float64
ORGANIZATION_TYPE_31            48744 non-null float64
ORGANIZATION_TYPE_32            48744 non-null float64
ORGANIZATION_TYPE_33            48744 non-null float64
ORGANIZATION_TYPE_34            48744 non-null float64
ORGANIZATION_TYPE_35            48744 non-null float64
ORGANIZATION_TYPE_36            48744 non-null float64
ORGANIZATION_TYPE_37            48744 non-null float64
ORGANIZATION_TYPE_38            48744 non-null float64
ORGANIZATION_TYPE_39            48744 non-null float64
ORGANIZATION_TYPE_40            48744 non-null float64
ORGANIZATION_TYPE_41            48744 non-null float64
ORGANIZATION_TYPE_42            48744 non-null float64
ORGANIZATION_TYPE_43            48744 non-null float64
ORGANIZATION_TYPE_44            48744 non-null float64
ORGANIZATION_TYPE_45            48744 non-null float64
ORGANIZATION_TYPE_46            48744 non-null float64
ORGANIZATION_TYPE_47            48744 non-null float64
ORGANIZATION_TYPE_48            48744 non-null float64
ORGANIZATION_TYPE_49            48744 non-null float64
ORGANIZATION_TYPE_50            48744 non-null float64
ORGANIZATION_TYPE_51            48744 non-null float64
ORGANIZATION_TYPE_52            48744 non-null float64
ORGANIZATION_TYPE_53            48744 non-null float64
ORGANIZATION_TYPE_54            48744 non-null float64
ORGANIZATION_TYPE_55            48744 non-null float64
ORGANIZATION_TYPE_56            48744 non-null float64
ORGANIZATION_TYPE_57            48744 non-null float64
WEEKDAY_APPR_PROCESS_START_0    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_1    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_2    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_3    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_4    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_5    48744 non-null float64
WEEKDAY_APPR_PROCESS_START_6    48744 non-null float64
AMT_CREDIT                      48744 non-null float64
AMT_INCOME_TOTAL                48744 non-null float64
CNT_CHILDREN                    48744 non-null float64
CNT_FAM_MEMBERS                 48744 non-null float64
DAYS_BIRTH                      48744 non-null float64
DAYS_EMPLOYED                   48744 non-null float64
DAYS_ID_PUBLISH                 48744 non-null float64
DAYS_LAST_PHONE_CHANGE          48744 non-null float64
DAYS_REGISTRATION               48744 non-null float64
HOUR_APPR_PROCESS_START         48744 non-null float64
REGION_POPULATION_RELATIVE      48744 non-null float64
REGION_RATING_CLIENT            48744 non-null float64
SK_ID_CURR                      48744 non-null float64
dtypes: float64(126)
memory usage: 46.9 MB

In [34]:
name_number = 2

In [35]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # bureau

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 30 columns):
CREDIT_ACTIVE_0           1716428 non-null float64
CREDIT_ACTIVE_1           1716428 non-null float64
CREDIT_ACTIVE_2           1716428 non-null float64
CREDIT_ACTIVE_3           1716428 non-null float64
CREDIT_CURRENCY_0         1716428 non-null float64
CREDIT_CURRENCY_1         1716428 non-null float64
CREDIT_CURRENCY_2         1716428 non-null float64
CREDIT_CURRENCY_3         1716428 non-null float64
CREDIT_TYPE_0             1716428 non-null float64
CREDIT_TYPE_1             1716428 non-null float64
CREDIT_TYPE_2             1716428 non-null float64
CREDIT_TYPE_3             1716428 non-null float64
CREDIT_TYPE_4             1716428 non-null float64
CREDIT_TYPE_5             1716428 non-null float64
CREDIT_TYPE_6             1716428 non-null float64
CREDIT_TYPE_7             1716428 non-null float64
CREDIT_TYPE_8             1716428 non-null float64
CREDIT_TYPE_9             1716428 non-null float64
CREDIT_TYPE_10            1716428 non-null float64
CREDIT_TYPE_11            1716428 non-null float64
CREDIT_TYPE_12            1716428 non-null float64
CREDIT_TYPE_13            1716428 non-null float64
CREDIT_TYPE_14            1716428 non-null float64
AMT_CREDIT_SUM_OVERDUE    1716428 non-null float64
CNT_CREDIT_PROLONG        1716428 non-null float64
CREDIT_DAY_OVERDUE        1716428 non-null float64
DAYS_CREDIT               1716428 non-null float64
DAYS_CREDIT_UPDATE        1716428 non-null float64
SK_ID_BUREAU              1716428 non-null float64
SK_ID_CURR                1716428 non-null float64
dtypes: float64(30)
memory usage: 392.9 MB

In [36]:
name_number = 3

In [37]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # bureau_balance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 10 columns):
STATUS_0          27299925 non-null float64
STATUS_1          27299925 non-null float64
STATUS_2          27299925 non-null float64
STATUS_3          27299925 non-null float64
STATUS_4          27299925 non-null float64
STATUS_5          27299925 non-null float64
STATUS_6          27299925 non-null float64
STATUS_7          27299925 non-null float64
MONTHS_BALANCE    27299925 non-null float64
SK_ID_BUREAU      27299925 non-null float64
dtypes: float64(10)
memory usage: 2.0 GB

In [38]:
name_number = 4

In [39]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # credit_card_balance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 16 columns):
NAME_CONTRACT_STATUS_0     3840312 non-null float64
NAME_CONTRACT_STATUS_1     3840312 non-null float64
NAME_CONTRACT_STATUS_2     3840312 non-null float64
NAME_CONTRACT_STATUS_3     3840312 non-null float64
NAME_CONTRACT_STATUS_4     3840312 non-null float64
NAME_CONTRACT_STATUS_5     3840312 non-null float64
NAME_CONTRACT_STATUS_6     3840312 non-null float64
AMT_BALANCE                3840312 non-null float64
AMT_CREDIT_LIMIT_ACTUAL    3840312 non-null float64
AMT_DRAWINGS_CURRENT       3840312 non-null float64
CNT_DRAWINGS_CURRENT       3840312 non-null float64
MONTHS_BALANCE             3840312 non-null float64
SK_DPD                     3840312 non-null float64
SK_DPD_DEF                 3840312 non-null float64
SK_ID_CURR                 3840312 non-null float64
SK_ID_PREV                 3840312 non-null float64
dtypes: float64(16)
memory usage: 468.8 MB

In [40]:
name_number = 5

In [41]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # installments_payments

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 6 columns):
AMT_INSTALMENT            13605401 non-null float64
DAYS_INSTALMENT           13605401 non-null float64
NUM_INSTALMENT_NUMBER     13605401 non-null float64
NUM_INSTALMENT_VERSION    13605401 non-null float64
SK_ID_CURR                13605401 non-null float64
SK_ID_PREV                13605401 non-null float64
dtypes: float64(6)
memory usage: 622.8 MB

In [42]:
name_number = 6

In [43]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # POS_CASH_balance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 14 columns):
NAME_CONTRACT_STATUS_0    10001358 non-null float64
NAME_CONTRACT_STATUS_1    10001358 non-null float64
NAME_CONTRACT_STATUS_2    10001358 non-null float64
NAME_CONTRACT_STATUS_3    10001358 non-null float64
NAME_CONTRACT_STATUS_4    10001358 non-null float64
NAME_CONTRACT_STATUS_5    10001358 non-null float64
NAME_CONTRACT_STATUS_6    10001358 non-null float64
NAME_CONTRACT_STATUS_7    10001358 non-null float64
NAME_CONTRACT_STATUS_8    10001358 non-null float64
MONTHS_BALANCE            10001358 non-null float64
SK_DPD                    10001358 non-null float64
SK_DPD_DEF                10001358 non-null float64
SK_ID_CURR                10001358 non-null float64
SK_ID_PREV                10001358 non-null float64
dtypes: float64(14)
memory usage: 1.0 GB

In [44]:
name_number = 7

In [45]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # previous_application

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 125 columns):
FLAG_LAST_APPL_PER_CONTRACT     1670214 non-null float64
NFLAG_LAST_APPL_IN_DAY          1670214 non-null float64
CHANNEL_TYPE_0                  1670214 non-null float64
CHANNEL_TYPE_1                  1670214 non-null float64
CHANNEL_TYPE_2                  1670214 non-null float64
CHANNEL_TYPE_3                  1670214 non-null float64
CHANNEL_TYPE_4                  1670214 non-null float64
CHANNEL_TYPE_5                  1670214 non-null float64
CHANNEL_TYPE_6                  1670214 non-null float64
CHANNEL_TYPE_7                  1670214 non-null float64
CODE_REJECT_REASON_0            1670214 non-null float64
CODE_REJECT_REASON_1            1670214 non-null float64
CODE_REJECT_REASON_2            1670214 non-null float64
CODE_REJECT_REASON_3            1670214 non-null float64
CODE_REJECT_REASON_4            1670214 non-null float64
CODE_REJECT_REASON_5            1670214 non-null float64
CODE_REJECT_REASON_6            1670214 non-null float64
CODE_REJECT_REASON_7            1670214 non-null float64
CODE_REJECT_REASON_8            1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_0        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_1        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_2        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_3        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_4        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_5        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_6        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_7        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_8        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_9        1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_10       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_11       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_12       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_13       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_14       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_15       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_16       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_17       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_18       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_19       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_20       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_21       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_22       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_23       1670214 non-null float64
NAME_CASH_LOAN_PURPOSE_24       1670214 non-null float64
NAME_CLIENT_TYPE_0              1670214 non-null float64
NAME_CLIENT_TYPE_1              1670214 non-null float64
NAME_CLIENT_TYPE_2              1670214 non-null float64
NAME_CLIENT_TYPE_3              1670214 non-null float64
NAME_CONTRACT_STATUS_0          1670214 non-null float64
NAME_CONTRACT_STATUS_1          1670214 non-null float64
NAME_CONTRACT_STATUS_2          1670214 non-null float64
NAME_CONTRACT_STATUS_3          1670214 non-null float64
NAME_CONTRACT_TYPE_0            1670214 non-null float64
NAME_CONTRACT_TYPE_1            1670214 non-null float64
NAME_CONTRACT_TYPE_2            1670214 non-null float64
NAME_CONTRACT_TYPE_3            1670214 non-null float64
NAME_GOODS_CATEGORY_0           1670214 non-null float64
NAME_GOODS_CATEGORY_1           1670214 non-null float64
NAME_GOODS_CATEGORY_2           1670214 non-null float64
NAME_GOODS_CATEGORY_3           1670214 non-null float64
NAME_GOODS_CATEGORY_4           1670214 non-null float64
NAME_GOODS_CATEGORY_5           1670214 non-null float64
NAME_GOODS_CATEGORY_6           1670214 non-null float64
NAME_GOODS_CATEGORY_7           1670214 non-null float64
NAME_GOODS_CATEGORY_8           1670214 non-null float64
NAME_GOODS_CATEGORY_9           1670214 non-null float64
NAME_GOODS_CATEGORY_10          1670214 non-null float64
NAME_GOODS_CATEGORY_11          1670214 non-null float64
NAME_GOODS_CATEGORY_12          1670214 non-null float64
NAME_GOODS_CATEGORY_13          1670214 non-null float64
NAME_GOODS_CATEGORY_14          1670214 non-null float64
NAME_GOODS_CATEGORY_15          1670214 non-null float64
NAME_GOODS_CATEGORY_16          1670214 non-null float64
NAME_GOODS_CATEGORY_17          1670214 non-null float64
NAME_GOODS_CATEGORY_18          1670214 non-null float64
NAME_GOODS_CATEGORY_19          1670214 non-null float64
NAME_GOODS_CATEGORY_20          1670214 non-null float64
NAME_GOODS_CATEGORY_21          1670214 non-null float64
NAME_GOODS_CATEGORY_22          1670214 non-null float64
NAME_GOODS_CATEGORY_23          1670214 non-null float64
NAME_GOODS_CATEGORY_24          1670214 non-null float64
NAME_GOODS_CATEGORY_25          1670214 non-null float64
NAME_GOODS_CATEGORY_26          1670214 non-null float64
NAME_GOODS_CATEGORY_27          1670214 non-null float64
NAME_PAYMENT_TYPE_0             1670214 non-null float64
NAME_PAYMENT_TYPE_1             1670214 non-null float64
NAME_PAYMENT_TYPE_2             1670214 non-null float64
NAME_PAYMENT_TYPE_3             1670214 non-null float64
NAME_PORTFOLIO_0                1670214 non-null float64
NAME_PORTFOLIO_1                1670214 non-null float64
NAME_PORTFOLIO_2                1670214 non-null float64
NAME_PORTFOLIO_3                1670214 non-null float64
NAME_PORTFOLIO_4                1670214 non-null float64
NAME_PRODUCT_TYPE_0             1670214 non-null float64
NAME_PRODUCT_TYPE_1             1670214 non-null float64
NAME_PRODUCT_TYPE_2             1670214 non-null float64
NAME_SELLER_INDUSTRY_0          1670214 non-null float64
NAME_SELLER_INDUSTRY_1          1670214 non-null float64
NAME_SELLER_INDUSTRY_2          1670214 non-null float64
NAME_SELLER_INDUSTRY_3          1670214 non-null float64
NAME_SELLER_INDUSTRY_4          1670214 non-null float64
NAME_SELLER_INDUSTRY_5          1670214 non-null float64
NAME_SELLER_INDUSTRY_6          1670214 non-null float64
NAME_SELLER_INDUSTRY_7          1670214 non-null float64
NAME_SELLER_INDUSTRY_8          1670214 non-null float64
NAME_SELLER_INDUSTRY_9          1670214 non-null float64
NAME_SELLER_INDUSTRY_10         1670214 non-null float64
NAME_YIELD_GROUP_0              1670214 non-null float64
NAME_YIELD_GROUP_1              1670214 non-null float64
NAME_YIELD_GROUP_2              1670214 non-null float64
NAME_YIELD_GROUP_3              1670214 non-null float64
NAME_YIELD_GROUP_4              1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_0    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_1    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_2    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_3    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_4    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_5    1670214 non-null float64
WEEKDAY_APPR_PROCESS_START_6    1670214 non-null float64
AMT_APPLICATION                 1670214 non-null float64
DAYS_DECISION                   1670214 non-null float64
HOUR_APPR_PROCESS_START         1670214 non-null float64
SELLERPLACE_AREA                1670214 non-null float64
SK_ID_CURR                      1670214 non-null float64
SK_ID_PREV                      1670214 non-null float64
dtypes: float64(125)
memory usage: 1.6 GB

In [46]:
name_number = 8

In [47]:
data_dict[dataset_names[name_number]].info(verbose=10, null_counts=True) # sample_submission

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 1 columns):
SK_ID_CURR    48744 non-null float64
dtypes: float64(1)
memory usage: 380.9 KB

# Feature description

Here at this picture the general data structure is reflected.

Lots of connections and, as a consequence, lots of hypothetial issues with data.

![Image of data scheme](https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png)

In [53]:
dataset_names

['application_train',
 'application_test',
 'bureau',
 'bureau_balance',
 'credit_card_balance',
 'installments_payments',
 'POS_CASH_balance',
 'previous_application',
 'sample_submission']

In [52]:
data_dict[dataset_names[1]].SK_ID_CURR.nunique()

48744

In [56]:
pd.merge(data_dict[dataset_names[1]], data_dict[dataset_names[2]], on='SK_ID_CURR', how='inner').SK_ID_CURR.nunique()

42320

In [57]:
pd.merge(data_dict[dataset_names[1]], data_dict[dataset_names[6]], on='SK_ID_CURR', how='inner').SK_ID_CURR.nunique()

47808

In [58]:
pd.merge(data_dict[dataset_names[1]], data_dict[dataset_names[4]], on='SK_ID_CURR', how='inner').SK_ID_CURR.nunique()

16653

# Preprocessing

In [293]:
X = data_dict[dataset_names[0]][list(set(data_dict[dataset_names[0]].columns) & set(data_dict[dataset_names[1]].columns))]

In [294]:
Y = data_dict[dataset_names[0]]['TARGET']

In [295]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307507 entries, 0 to 307506
Columns: 124 entries, ORGANIZATION_TYPE_0 to ORGANIZATION_TYPE_33
dtypes: float64(124)
memory usage: 290.9 MB

In [296]:
Y.value_counts()

0.0    282682
1.0    24825
Name: TARGET, dtype: int64

In [297]:
X_b, Y_b = RandomUnderSampler(random_state=random_state).fit_sample(X, Y)

In [298]:
print(sum(Y_b), len(Y_b) - sum(Y_b))

24825.0 24825.0

In [299]:
X_b = pd.DataFrame(X_b, columns=X.columns)

In [300]:
XY_b = X_b

In [301]:
XY_b['TARGET'] = Y

In [302]:
XY_b_ext = pd.merge(XY_b, data_dict[dataset_names[2]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [303]:
XY_b_ext = pd.merge(XY_b_ext, data_dict[dataset_names[4]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [304]:
XY_b_ext = pd.merge(XY_b_ext, data_dict[dataset_names[6]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [305]:
Y_b_ext = XY_b_ext['TARGET']

In [306]:
X_b_ext = XY_b_ext[list(set(XY_b_ext.columns) - set(['TARGET', 'SK_ID_CURR']))]

In [307]:
X_b_ext.shape

(11950, 180)

In [308]:
X_test_ext = pd.merge(data_dict[dataset_names[1]][list(set(data_dict[dataset_names[0]].columns) & set(data_dict[dataset_names[1]].columns))], data_dict[dataset_names[2]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [309]:
X_test_ext = pd.merge(X_test_ext, data_dict[dataset_names[4]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [310]:
X_test_ext = pd.merge(X_test_ext, data_dict[dataset_names[6]].groupby('SK_ID_CURR').aggregate(np.mean).reset_index(), on='SK_ID_CURR', how='inner')

In [311]:
X_test_ext.shape

(14491, 181)

In [312]:
X_test = data_dict[dataset_names[1]][~data_dict[dataset_names[1]]['SK_ID_CURR'].isin(X_test_ext.SK_ID_CURR)]

In [313]:
X_test.shape

(34253, 126)

In [314]:
SK_ID_CURR_exten = X_test_ext.SK_ID_CURR
SK_ID_CURR_usual = X_test.SK_ID_CURR

In [315]:
X_test_ext = X_test_ext[X_b_ext.columns]

In [316]:
X_test_ext.shape

(14491, 180)

In [317]:
X_test.drop(['SK_ID_CURR'], axis=1, inplace=True)

/home/bender/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [318]:
X_test.shape

(34253, 125)

# Models mixture

## Extended features

In [319]:
voting_classifier = VotingClassifier(
    estimators=[
        ('xgb', xgb.XGBClassifier()),
        ('lgb', lgb.LGBMClassifier())
    ],
    voting='soft')

In [320]:
voting_classifier.fit(X_b_ext.values, Y_b_ext)

VotingClassifier(estimators=[('xgb', XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random...0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=0))],
         flatten_transform=None, n_jobs=1, voting='soft', weights=None)

In [321]:
ext_res_y = voting_classifier.predict_proba(X_test_ext.values)

## Usual features

In [322]:
voting_classifier = VotingClassifier(
    estimators=[
        ('xgb', xgb.XGBClassifier()),
        ('lgb', lgb.LGBMClassifier())
    ],
    voting='soft')

In [323]:
voting_classifier.fit(X_b.values, Y_b)

VotingClassifier(estimators=[('xgb', XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random...0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=0))],
         flatten_transform=None, n_jobs=1, voting='soft', weights=None)

In [324]:
res_y = voting_classifier.predict_proba(X_test.values)

In [330]:
result = pd.DataFrame({
    'SK_ID_CURR': SK_ID_CURR_exten.values.tolist() + SK_ID_CURR_usual.values.tolist(),
    'TARGET': ext_res_y[:, 1].tolist() + res_y[:, 1].tolist()
})

In [331]:
result.head(30)

    SK_ID_CURR    TARGET
0   100013.0    0.916831
1   100028.0    0.910972
2   100042.0    0.940664
3   100066.0    0.932648
4   100067.0    0.929342
5   100090.0    0.948203
6   100107.0    0.904428
7   100109.0    0.965619
8   100128.0    0.949731
9   100169.0    0.935491
10  100170.0    0.908974
11  100171.0    0.937572
12  100187.0    0.925551
13  100245.0    0.919558
14  100312.0    0.914400
15  100330.0    0.921194
16  100386.0    0.923136
17  100416.0    0.911064
18  100422.0    0.895258
19  100426.0    0.927562
20  100517.0    0.960788
21  100551.0    0.943188
22  100561.0    0.913265
23  100622.0    0.957240
24  100752.0    0.892038
25  100753.0    0.949744
26  100754.0    0.928754
27  100763.0    0.919278
28  100765.0    0.938909
29  100791.0    0.930451

In [332]:
result.SK_ID_CURR = result.SK_ID_CURR.astype(np.int)

In [333]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 2 columns):
SK_ID_CURR    48744 non-null int64
TARGET        48744 non-null float64
dtypes: float64(1), int64(1)
memory usage: 761.7 KB

In [334]:
result.to_csv('../data/dataset/xgb_lgb_ext_mixture_submission.csv', index=False)